#root {
  margin: 0 auto;
}

@font-face {
  font-family: poppins;
  src: url(../public/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../public/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}


@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter/Inter-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: inter;
  src: url(../public/fonts/Inter/Inter-Regular.ttf);
  font-weight: 400;
}

