#root {
  margin: 0 auto;
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}


@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}
