:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: white;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #494949;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
}

.banner {
 background-color: #F9F3F1;
 color: black;
 height: 200px;
 width: 100%;

 display: flex;
 justify-content: center;
 align-items: center;

}

.bannerName{
  position: absolute;
  left: 10px;
  
}

.nav{
  display: flex;
  margin: 0;
  /* text-align: center; */
  padding: 0px;
  justify-content: center;
  width: 50%;
  
}

.navItem{
  text-decoration: underline;
  padding: 5%;
  width: auto;
}

.navItem:hover{
  color: blue;

}

.navSelected{
  font-weight: bold;
}

.overview{
  display: flex;
  justify-content: space-around;

}

.circle {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.concept{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.infoBlock
{
  margin:auto;
  width: 70%;
  text-align: center;
}

.infoBlock > p{

}


@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  } */
}
